# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Python
__pycache__/
*.py[cod]
*$py.class
dist/
build/
*.spec
venv/
.venv/

# Binaries
*.exe
*.apk
server_ip.txt
inventory.json
warframe-api-helper.exe
