# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
app/build/
captures/
.externalNativeBuild
.cxx
local.properties

# Python
__pycache__/
*.py[cod]
*$py.class
dist/
build/
*.spec

# Binaries & Secrets
*.apk
*.exe
*.ico
server_ip.txt
inventory.json
warframe-api-helper.exe
secrets.properties
